# Ignore everything
*

# Bash stuff (profile just sources bashrc, since it's the only thing sourced
# when a shell is a login shell).
.*.swp

# Zprezto
!.zprezto
!.zprezto/*
!.zprezto/runcoms/*
!.zprezto/custom/*
.zprezto/custom/secrets

#Zprezto - Swap
.zprezto/runcoms/.zpreztorc.swp


# PHPStorm
!.PhpStorm2017.2
!.PhpStorm2017.2/*
!.PhpStorm2017.2/config/*
!.PhpStorm2017.2/config/keymaps/*
!.PhpStorm2017.2/config/plugins/*
!.PhpStorm2017.2/config/options/*
!.PhpStorm2017.2/config/templates/*
!.PhpStorm2017.2/config/fileTemplates/*
!.PhpStorm2017.2/config/fileTemplates/code/*
!.PhpStorm2017.2/config/fileTemplates/includes/*
!.PhpStorm2017.2/config/fileTemplates/internal/*
!.PhpStorm2017.2/config/codestyles/*

.PhpStorm2017.2/config/plugins/availables.xml
.PhpStorm2017.2/config/plugins/availables.xml.etag
.PhpStorm2017.2/config/phpstorm.key
.PhpStorm2017.2/config/port
.PhpStorm2017.2/config/port.lock
.PhpStorm2017.2/config/options/dimensions.xml
.PhpStorm2017.2/config/options/feature.usage.statistics.xml
.PhpStorm2017.2/config/options/options.xml
.PhpStorm2017.2/config/options/statistics.application.usages.xml
.PhpStorm2017.2/config/options/statistics.shortcuts.xml
.PhpStorm2017.2/config/options/statistics.toolbar.clicks.xml
.PhpStorm2017.2/config/options/window.manager.xml
.PhpStorm2017.2/config/options/ignore.xml
.PhpStorm2017.2/config/options/recentProjectDirectories.xml
.PhpStorm2017.2/config/options/updates.xml


#VIM
!.vimrc
!.vim
!.vim/*
.vim/.netrwhist
!.vim/colors
!.vim/colors/*
!.vim/bundle
!.vim/bundle/*

# Cheat
!.cheat
!.cheat/*

# Git aliases, identification info
!.gitconfig

# The gitignore of this repository itself (!)
!.gitignore

# My global Git excludes file (acts as a global .gitignore)
!.gitexcludes

