# Ignore everything
*

# Bash stuff (profile just sources bashrc, since it's the only thing sourced
# when a shell is a login shell).
.*.swp

# Zprezto
!.zprezto
!.zprezto/*
!.zprezto/runcoms/*
!.zprezto/custom/*
.zprezto/custom/secrets
.zprezto/custom/deploy

#Zprezto - Swap
.zprezto/runcoms/.zpreztorc.swp
.zprezto/.gitignore
.zprezto/.gitmodules
.zprezto/CONTRIBUTING.md
.zprezto/LICENSE
.zprezto/README.md


# PHPStorm
!.PhpStorm2017.2
!.PhpStorm2017.2/*
!.PhpStorm2017.2/config/*
!.PhpStorm2017.2/config/keymaps/*
!.PhpStorm2017.2/config/plugins/*
!.PhpStorm2017.2/config/options/*
!.PhpStorm2017.2/config/templates/*
!.PhpStorm2017.2/config/fileTemplates/*
!.PhpStorm2017.2/config/fileTemplates/code/*
!.PhpStorm2017.2/config/fileTemplates/includes/*
!.PhpStorm2017.2/config/fileTemplates/internal/*
!.PhpStorm2017.2/config/codestyles/*

.PhpStorm2017.2/config/plugins/availables.xml
.PhpStorm2017.2/config/plugins/availables.xml.etag
.PhpStorm2017.2/config/phpstorm.key
.PhpStorm2017.2/config/port
.PhpStorm2017.2/config/port.lock
.PhpStorm2017.2/config/options/dimensions.xml
.PhpStorm2017.2/config/options/feature.usage.statistics.xml
.PhpStorm2017.2/config/options/options.xml
.PhpStorm2017.2/config/options/statistics.application.usages.xml
.PhpStorm2017.2/config/options/statistics.shortcuts.xml
.PhpStorm2017.2/config/options/statistics.toolbar.clicks.xml
.PhpStorm2017.2/config/options/window.manager.xml
.PhpStorm2017.2/config/options/ignore.xml
.PhpStorm2017.2/config/options/recentProjectDirectories.xml
.PhpStorm2017.2/config/options/updates.xml
.PhpStorm2017.2/config/options/scratches.xml
.PhpStorm2017.2/config/options/databaseDrivers.xml
.PhpStorm2017.2/config/options/magicento.xml
.PhpStorm2017.2/config/options/notifications.xml
.PhpStorm2017.2/config/options/scratches.xml
.PhpStorm2017.2/config/options/statistics.actions.xml
.PhpStorm2017.2/config/options/terminal.xml
.PhpStorm2017.2/config/options/usageView.xml
.PhpStorm2017.2/config/plugins/magicento.jar
.PhpStorm2017.2/config/options/filetypes.xml
.PhpStorm2017.2/config/options/find.xml
.PhpStorm2017.2/config/options/project.default.xml
.PhpStorm2017.2/config/options/runner.layout.xml
.PhpStorm2017.2/config/options/usage.statistics.xml
.PhpStorm2017.2/config/options/window.state.xml
.PhpStorm2017.2/config/plugins/extensions.xml

#VIM
!.vimrc
!.vim
!.vim/*
.vim/.netrwhist
!.vim/colors
!.vim/colors/*
!.vim/bundle
!.vim/bundle/*

#Code
!.config
!.config/Code
!.config/Code/*
!.config/Code/User
!.config/Code/User/settings.json
!.config/Code/User/*
!.config/Code/User/snippets/*

.config/Code/Cookies
.config/Code/Cookies-journal
.config/Code/Preferences
.config/Code/storage.json

# Cheat
!.cheat
!.cheat/*

# Git aliases, identification info
!.gitconfig

# The gitignore of this repository itself (!)
!.gitignore

# My global Git excludes file (acts as a global .gitignore)
!.gitexcludes
